@use "base" as *;
.contact-container {
    width: 60%;

    margin: 10% auto;
    &-info {
        width: 90%;
        margin: 0 auto;
        &-tabel {
            width: 80%;
            margin-top: 2rem;
            margin-left: 10%;
            border-collapse: collapse;
            th,
            td {
                border: 1px solid black;
                padding: 1rem;
            }
            tr {
                :nth-child(odd) {
                    width: 30%;
                    margin: 1rem;
                    padding: 1rem;
                }
                :nth-child(even) {
                    width: 60%;
                    margin: 1rem;
                    padding: 1rem;
                }
            }
        }
    }
    &-iframe {
        margin: 2rem auto;
        width: 80%;
        iframe {
            width: 60%;
            margin-left: 20%;
        }
    }
    &-netlify{
        text-align: center;
        &-link {
            background-color: $color-secondary;
            text-decoration: none;
            padding: .5rem;
            border-radius: .5rem;
            color: $color-light;
        }
    }
}

@media screen and (max-width: 768px) {
    .contact-container {
        width: 80%;
        &-info {
            width: 100%;
            &-tabel {
                width: 100%;
                margin-left: 0;
            }
        }
        &-iframe {
            width: 80%;
            iframe {
                width: 80%;
                margin-left: 10%;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .contact-container {
        width: 90%;
        margin:10% auto;
        &-info {
            width: 100%;
            margin:0 auto;
            &-tabel {
                width: 100%;
                margin:  0;
                td {
                    border: 1px solid black;
                    padding: .5rem;
                font-size: .8rem;
                }
                tr {
                    :nth-child(odd) {
                        width: 30%;
                        margin: 0;
                        padding: .5rem;
                    }
                    :nth-child(even) {
                        width: 60%;
                        margin: 0;
                        padding: .5rem;
                    }
                }
            }
        }
        &-iframe {
            margin: 2rem auto;
            width: 90%;
            iframe {
                width: 100%;
                margin: 0%;
            }
        }
    }
}
