@use 'base' as *;

.navbar{
    padding: 1rem;
    background-color: $color-side ;
    @include flexLayout(row,space-between,center);
    width: 80%;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    &-logo{
        width: 3rem;
        &-link{
            &-img{
                width: 100%;
            }
        }
    }
    &-ul{
        @include flexLayout(row,space-between,center);
        &-li{
            list-style: none;
            &.active{
                @include active;
            }
            &-link{
               @include links;
               color: $color-light;
               &:hover{
                     @include hovery;
               }
            }
        }
    }
}